@use "base/mixins" as m;
@use "base/variables" as v;

.header {       //header
    min-height: 60rem;
    background-image: 
        url(../img/grafico.svg),  
        url(../img/grafico.svg), //coloco la imagen por segunda vez
        linear-gradient(to right, rgba(v.$negro, 1), rgba(v.$negro, .5)), //le doy un gradient de izquierda a derecha. Se muestra mas claro a la derecha
        -webkit-image-set( url(../img/header.avif) 1x, url(../img/header.webp) 1x, url(../img/header.jpg) 1x);   //image-set utiliza las imagenes mas livianas soportadas. No todos los navegadores son compatibles, por eso le agrego -webkit- para que funcione en chrome/edge  
    background-repeat: no-repeat;
    background-size: 400px, 400px, cover, cover;   //el primer valor va a la primera url, el segundo a la 2da url, el primer cover al linear-gradient, y el ultimo al image-set
    background-position: top left, bottom right, center center, center center;  //le indico la posicion a cada elemento

    &__contenedor { //div
        @include m.contenedor;
    }

    &__navegacion { //nav
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        @include m.tablet {
            justify-content: flex-end;
        }
    }

    &__enlace { //a
        @include m.enlace;
    }

    &__form {
        display: flex;
    }

    &__submit {
        @extend .header__enlace
    }

    &__contenido {  //div
        padding-top: 10rem;
        @include m.tablet {
            padding-top: 5rem;
        }
    }

    &__logo {   //h1
        @include m.texto-fluido(1rem, 8rem) ;
        @include m.texto-degradado(v.$azul, v.$secundario);
        text-align: center;
        @include m.tablet {
            text-align: left;
            display: inline-block;  //para que se aplique mejor el degradado
        }
    }
    
    &__texto {
        font-size: 3rem;
        font-weight: v.$bold;
        color: v.$blanco;
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet {
            text-align: left;
        }
        
        &--modalidad {
            font-size: 2rem;
        }
    }
    

    &__boton {
        @include m.boton(v.$secundario, v.$blanco);
        text-transform: uppercase;
        margin: 2rem 0;
        @include m.tablet {
            width: auto;
        }
    }
}