node_modules
vendor
dependencias.txt
.env
 
#para ignorar archivos dentro de una carpeta, creo un archivo .gitignore dentro de esa carpeta y le agrego *!.gitignore . De esta forma se agrega al repositorio solo el .gitignore en la carpeta y no los demas archivos. 