@use "base/variables" as v;
@use "base/mixins" as m;

.boletos {  //section
    &__grid {   //div
        @include m.contenedor-sm;
        @include m.grid(1, 5rem);
    }
}

.boleto {   //div
    width: min(100% - 5rem, 65rem); //el tamaño minimo es 100% - 50px, el maximo 650px
    margin: 0 auto;
    padding: 6rem;
    border-radius: 2rem;
    color: v.$blanco;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        background-color: v.$blanco;
        width: 5rem;
        height: 5rem;
        top: calc(50% - 2.5rem);    //posiciono el circulo verticalmente. 2.5rem porque es la mitad de lo del width y height
    }
    &::before {
        clip-path: circle(50% at 25% 50%);  //el primer valor es el del radius, el segundo es desde que punto horizontalmente empieza a hacer el circulo, el 3er valor es desde que punto verticalmente
        left: 0;    //posiciono el circulo horizontalmente en el borde izquierdo del div
    }
    &::after {
        clip-path: circle(50% at 75% 50%);  //el primer valor es el del radius, el segundo es desde que punto horizontalmente empieza a hacer el circulo, el 3er valor es desde que punto verticalmente
        right: 0;    //posiciono el circulo horizontalmente en el borde derecho del div
    }

    &--presencial { //propiedades sacadas de  CSS Hero
        background-color:hsla(178,100%,39%,1);
        background-image:
        radial-gradient(at 83% 26%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 36% 27%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 18% 76%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(209,100%,47%,1) 0px, transparent 50%);
    }
    &--virtual {
        background-color: v.$secundario;
    }
    &--gratis {
        background-color: v.$azul;
    }

    &__logo {   //h4
        @include m.logo;
        @include m.texto-fluido(2rem, 4rem);
        text-align: left;
    }

    &__plan {   //p
        font-size: 2rem;
        text-transform: uppercase;
        margin: 3rem 0 0 0;
    }

    &__precio { //p
        margin: 3rem 0 0 0;
        font-weight: v.$black;
        font-size: 4rem;
    }

    &__enlace-contenedor {  //div
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    &__enlace {
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
    }

    $modificador: &;
    &--acceso { //div - boleto asignado al usuario al elegir plan
        width: 30rem;
        height: 50rem;
        padding: 10rem 3rem;
        @include m.tablet {
            width: 60rem;
            height: 30rem;
            padding: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #{$modificador}__logo { //h4
            @include m.texto-fluido(2rem, 3rem);
            margin: 0;
        }
        #{$modificador}__nombre { //h4
            font-size: 2.4rem;
            text-transform: uppercase;
            font-weight: v.$black;
        }
        #{$modificador}__codigo { //h4
            font-size: 4rem;
            font-weight: v.$bold;
            text-align: center;
            position: absolute;
            bottom: 7rem;
            margin: 0;
            left: 0;    //para que se pegue a la izquierda
            width: 100%;    //para que se centre y ocupe todo el ancho del div padre

            @include m.tablet {
                rotate: 90deg;  //coloco el texto de arriba hacia abajo
                width: 30rem;   //ocupa el total de la altura del div padre
                transform-origin: 0 0;  //facilita el posicionamiento del h4
                top: 0; //coloca el h4 a la misma altura que el div
                left: calc(100% - 5rem);    //pone el h4 en la parte izquierda del div
            }
        }
    }

    &::before {
        clip-path: circle(50% at 50% 25%);
        left: calc(50% - 2.5rem);   
        top: 0; //lo coloco arriba de todo
        @include m.tablet {
            clip-path: circle(50% at 25% 50%); 
            left: 0;    //es el mismo valor que el top
            top: calc(50% - 2.5rem);    //es el mismo valor que el left
            
        }
    }
    &::after {
        clip-path: circle(50% at 50% 75%);
        left: calc(50% - 2.5rem);
        top: calc(100% - 5rem); //lo coloco abajo de todo
        @include m.tablet {
            clip-path: circle(50% at 75% 50%);  
            left: calc(100% - 5rem);    //es el mismo valor que el left
            top: calc(50% - 2.5rem);    //es el mismo valor que el top
            
        }
    }
    
}