@use "base/variables" as v;
@use "base/mixins" as m;

.boletos {  //section
    &__grid {   //div
        @include m.contenedor-sm;
        @include m.grid(1, 5rem);
    }
}

.boleto {   //div
    width: min(100% - 5rem, 65rem); //el tamaño minimo es 100% - 50px, el maximo 650px
    margin: 0 auto;
    padding: 6rem;
    border-radius: 2rem;
    color: v.$blanco;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        background-color: v.$blanco;
        width: 5rem;
        height: 5rem;
        top: calc(50% - 2.5rem);    //posiciono el circulo verticalmente. 2.5rem porque es la mitad de lo del width y height
    }
    &::before { //
        clip-path: circle(50% at 25% 50%);  //el primer valor es el del radius, el segundo es desde que punto horizontalmente empieza a hacer el circulo, el 3er valor es desde que punto verticalmente
        left: 0;    //posiciono el circulo horizontalmente en el borde izquierdo del div
    }
    &::after {
        clip-path: circle(50% at 75% 50%);  //el primer valor es el del radius, el segundo es desde que punto horizontalmente empieza a hacer el circulo, el 3er valor es desde que punto verticalmente
        right: 0;    //posiciono el circulo horizontalmente en el borde derecho del div
    }

    &--presencial { //propiedades sacadas de  CSS Hero
        background-color:hsla(178,100%,39%,1);
        background-image:
        radial-gradient(at 83% 26%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 36% 27%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 18% 76%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(209,100%,47%,1) 0px, transparent 50%);
    }
    &--virtual {
        background-color: v.$secundario;
    }
    &--gratis {
        background-color: v.$azul;
    }

    &__logo {   //h4
        @include m.logo;
        @include m.texto-fluido(2rem, 4rem);
        text-align: left;
    }

    &__plan {   //p
        font-size: 2rem;
        text-transform: uppercase;
        margin: 3rem 0 0 0;
    }

    &__precio { //p
        margin: 3rem 0 0 0;
        font-weight: v.$black;
        font-size: 4rem;
    }

    &__enlace-contenedor {  //div
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    &__enlace {
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
    }
}