@use "base/variables" as v;
@use  "base/mixins" as m;

.speakers { //section
    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);
        @include m.tablet {
            @include m.grid(2, 5rem);
        }
        @include m.xl_desktop {
            @include m.grid(3, 5rem);
        }
    }
}

.speaker {  //div
    @include m.card;
    background-position: center top;
    background-size: 350px;
    background-repeat: no-repeat;

    &:nth-child(4n + 1) {   //repite el fondo cada 4 divs. La cuenta que hace esta sentencia es: (4 x 0) + 1. El 0 va aumentando en 1 segun imagenes hayan
        background-image: -webkit-image-set(url("../img/bg_1.avif") 1x, url("../img/bg_1.webp") 1x, url("../img/bg_1.png") 1x);
    }

    &:nth-child(4n + 2) {   
        background-image: -webkit-image-set(url("../img/bg_2.avif") 1x, url("../img/bg_2.webp") 1x, url("../img/bg_2.png") 1x);
    }

    &:nth-child(4n + 3) {   //repite el fondo cada 4 divs. La cuenta que hace esta sentencia es: (4 x 0) + 1. El 0 va aumentando en 1 segun imagenes hayan
        background-image: -webkit-image-set(url("../img/bg_3.avif") 1x, url("../img/bg_3.webp") 1x, url("../img/bg_3.png") 1x);
    }

    &:nth-child(4n + 4) {   //repite el fondo cada 4 divs. La cuenta que hace esta sentencia es: (4 x 0) + 1. El 0 va aumentando en 1 segun imagenes hayan
        background-image: -webkit-image-set(url("../img/bg_4.avif") 1x, url("../img/bg_4.webp") 1x, url("../img/bg_4.png") 1x);
    }

    &__ubicacion {  //p
        color: v.$gris;
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.5;    
    }

    &__listado-skills { //ul
        @include m.tags;
    }
}

.speaker-sociales { //nav
    @include m.menu-social(v.$negro, 3rem);
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}