@use "base/variables" as v;
@use "base/mixins" as m;

.agenda {   //main
    @include m.contenedor;
    padding: 5rem 0;
}

.eventos {  //div
    $modificador: &;    //creo una variable

    &__heading {    //heading de conferencias
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
    }

    &__fecha {  //p
        color: v.$gris;
        margin: 3rem 0 0 0;
    }

    &--workshops {  //modificacion del bloque eventos
        #{$modificador}__heading {  //selecciono el heading de este bloque modificador. # hace quiere decir que voy a mezclar una variable($modificador) con uns string(__heading)
            color: v.$secundario;
        }
    }
}

.evento {   //esta clase solo existe con elemento y/o modificador. La clase sola no está declarada en ningun lado del html
    &__hora {   //p
        font-weight: v.$bold;
    }
    
    &__informacion {    //div
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        &:hover {
            background-color: darken(v.$azul, 10);
            transition: 300ms backround-color ease;
        }
    }

    &__introduccion {   //p
        font-size: 1.6rem;
        display: -webkit-box;   //crea una caja virtual para el texto. Al declarar esto, puedo declarar las demas webkits de abajo
        -webkit-line-clamp: 2;  //indico cuantos renglones quiero que pertenezcan al texto. Los renglones que no forman parte del texto, siguen visibles pero no forman parte del <p>, entonces los elementos que estan abajo, suben para ocupar su lugar
        -webkit-box-orient: vertical;   //para que corte de arriba hacia abajo las lineas
        overflow: hidden;   //oculto el texto que no pertenece al webkit clamp
    }   

    &__autor-info { //div
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    &__imagen-autor {   //img
        width: 5rem;
        background-color: v.$blanco;
        border-radius: 50%;
    }

    &__autor-nombre {   //p
        font-weight: v.$bold;
    }
}