@use "base/variables" as v;
@use "base/mixins" as m;

.dashboard {    //div principal, separa __header y __grid
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    &__header { 
        background-color: v.$gris-oscuro;
        padding: 2rem;
    }

    &__header-grid {    //div que separa el logo del nav
        display: flex;
        flex-direction: column;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center
        }
    }

    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }

    &__nav {

    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__submit--logout {
        @include m.enlace;
       
    }

    &__grid {   //Este div contiene __sidebar y __contenido
        display: flex;
        flex: 1;    //la altura que no ocupa el header lo toma este div
        overflow-y: auto;   //como el sidebar tiene pocos elementos no añade scroll, pero el contenido sí tiene elementos por eso añade scroll. Es una manera de dejar fijo el sidebar y el header
    }

    &__sidebar {    //aside
        background-color: lighten(v.$gris-oscuro, 10);
        width: 12rem;
    }

    &__menu {   //nav
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__enlace {
        color: lighten(v.$gris-oscuro, 40);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        border-radius: 1rem;
        transition: 300ms background-color ease-in-out, 300ms color ease;   //le agrego transicion al color de fondo antes de la primera coma, despues se lo hago al texto

        &:hover, 
        &--actual {
            background-color: lighten(v.$gris-oscuro, 20);
            color: v.$blanco;
        }
    }
    &__icono {
        font-size: 2rem;
    }
    &__menu-texto {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        margin-top: .5rem;
    }

    &__contenido {
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;
        overflow-y: scroll; //solo hago scroll al div contenido. El sidebar se queda quieto
        @include m.tablet {
            padding: 1rem 5rem 3rem 5rem;
        }
    }

    &__contenedor-boton {   //div
        @include m.tablet {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5rem;
        }
    }

    &__boton {  //a
        @include m.boton(v.$azul, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
    }

    &__contenedor {
        @include m.shadow;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }

    &__formulario { //div
        @extend .dashboard__contenedor;
        @include m.contenedor-md;
    }
}